---
import Avatar from "../../components/Avatar.astro";
import JazzyText from "../../components/JazzyText.astro";
---

<div class="w-[1200px] h-[630px] bg-slate-50 p-12 grid grid-cols-3 items-center relative">
    <div>
        <Avatar className="w[200px] -mt-10" />
    </div>
    <div class="col-span-2">
        <h1 class="font-bold text-7xl text-slate-800 leading-none mb-8 text-center sm:text-left">
            <span class="whitespace-nowrap">Hi I'm Merlin,</span>
            <span class="whitespace-nowrap">
                a <JazzyText>software engineer</JazzyText>
            </span>
            <span class="whitespace-nowrap">living & working</span>
            <span class="whitespace-nowrap">in London, UK.</span>
        </h1>
    </div>
</div>
