---
import Button from "../components/Button.astro";
import PageLayout from "../layouts/Page.astro";
---

<PageLayout title="404 Error" description="We can't find this page">
    <div class="flex flex-col items-center">
        <img src="/404.png" alt="Memoji of Merlin looking shocked" class="w-[421px]" />
        <h1 class="text-hero font-bold mb-12">404 Error!</h1>
        <Button href="/">Take me somewhere else</Button>
    </div>
</PageLayout>
