---
import Card from "../components/Card.astro";
import DualCTA from "../components/DualCTA.astro";
import JazzyText from "../components/JazzyText.astro";
import PageLayout from "../layouts/Page.astro";

const currentYear = new Date().getFullYear();
---

<PageLayout
    title="About me"
    description="I'm Merlin, a software engineer living & working in London, UK."
>
    <h1 class="font-bold text-hero mb-8">All <JazzyText>about</JazzyText> me.</h1>

    <Card class="space-y-5">
        <div class="prose lg:prose-xl prose-slate dark:prose-invert mb-12">
            <p>
                Hi, I'm Merlin, a frontend-leaning fullstack product engineer. I have 16 years
                experience, in startups, scale-ups and as an entrepreneur. I've developed a T-shaped
                skill set with a deep understanding of the frontend stack and a broad understanding
                of product design and UX, backend engineering, devops and infrastructure, business
                operations, security and compliance. I'm passionate about building user centric
                digital products that are delightful to use and deliver measurable business impact.
            </p>

            <p>
                <strong>Currently</strong> (Aug 2023 — now) I'm a Frontend Lead at <a
                    href="https://samaya.ai"
                    target="_blank"
                    >Samaya AI
                </a>working on next generation knowledge discovery for financial domain experts. As
                one of the first 10 hires, and the first product focused engineer I'm helping an
                exceptionally strong AI team (ex. Meta, Google, AWS) on their journey towards
                product market fit. Working directly with the founders I’ve helped our journey from
                $0 to 8-figure revenue and landing our $43M Series A led by NEA.
            </p>

            <p>
                <strong>Recently</strong> (2014 — 2021), I co-founded and led engineering at <a
                    href="https://mo.work"
                    target="_blank">Mo</a
                >, building a 12 strong engineering team and a product used by 100,000 users from
                scratch. With a small team we created a product that would often win over industry
                incumbents (Yammer, Reward Gateway, Perkbox etc) in sales processes. Investor due
                diligence found our engineering team to be "excellent" and "an enabler for the
                business".
            </p>
        </div>

        <DualCTA primaryHref="/cv" primaryText="See full CV" />
    </Card>
</PageLayout>
