---
import { SITE_DESCRIPTION } from "../config";
import Button from "../components/Button.astro";
import Avatar from "../components/Avatar.astro";
import Page from "../layouts/Page.astro";
import JazzyText from "../components/JazzyText.astro";
import DualCTA from "../components/DualCTA.astro";
---

<Page description={SITE_DESCRIPTION} hasHeader={false} hasFooter={false}>
    <main class="flex flex-col justify-center sm:flex-row items-center min-h-screen">
        <a href="/about">
            <Avatar
                className="w-[200px] sm:w-[225px] md:w-[275px] lg:w-[350px] xl:w-[421px] -mt-20"
            />
        </a>

        <div>
            <h1 class="font-bold text-hero mb-8 text-center sm:text-left">
                <span class="whitespace-nowrap"
                    >Hi <span class="inline-block hover:animate-wiggle cursor-wave">👋🏻</span> I'm Merlin,</span
                >
                <span class="whitespace-nowrap">
                    a <JazzyText>software engineer</JazzyText>
                </span>
                <span class="whitespace-nowrap">living & working</span>
                <span class="whitespace-nowrap">in London, UK.</span>
            </h1>

            <DualCTA primaryHref="/about" primaryText="Find out more" />
        </div>
    </main>
</Page>
