---
import { TagIcon, ClockIcon } from "@heroicons/react/24/outline/index.js";

import Date from "./Date.astro";
import PillList from "./PillList.astro";
import Pill from "./Pill.astro";
import slugify from "../utils/slugify";
import type { CollectionEntry } from "astro:content";

type Props = Pick<CollectionEntry<"blog">["data"], "timeToReadMins" | "pubDate" | "tags">;
const { timeToReadMins, pubDate, tags } = Astro.props;
---

<div class="grid gap-2 grid-col-1 sm:grid-cols-3 items-center text-slate-700 dark:text-slate-300">
    <Date date={pubDate} />

    <div class="flex items-center gap-2">
        <ClockIcon className="w-6" />
        <span>{timeToReadMins} mins read</span>
    </div>

    <div class="flex items-center gap-2">
        <TagIcon className="w-6" />
        <PillList>
            {tags?.map((tag: string) => <Pill href={`/blog/tag/${slugify(tag)}`}>{tag}</Pill>)}
        </PillList>
    </div>
</div>
