---
import { TagIcon, ClockIcon } from "@heroicons/react/24/outline/index.js";
import FormattedDate from "./FormattedDate.astro";
import ButtonContainer from "./ButtonContainer.astro";
import slugify from "../utils/slugify";
import type { CollectionEntry } from "astro:content";
import Button from "./Button.astro";

type Props = Pick<CollectionEntry<"blog">["data"], "timeToReadMins" | "pubDate" | "tags">;
const { timeToReadMins, pubDate, tags } = Astro.props;
---

<div class="grid gap-2 grid-col-1 sm:grid-cols-3 items-center text-slate-500 dark:text-slate-400">
  <FormattedDate date={pubDate} />

  <div class="flex items-center gap-2">
    <ClockIcon className="w-6" />
    <span>{timeToReadMins} mins read</span>
  </div>

  <div class="flex items-center gap-2">
    <TagIcon className="w-6" />
    <ButtonContainer>
      {
        tags?.map((tag: string) => (
          <Button size="sm" href={`/blog/tag/${slugify(tag)}`}>
            {tag}
          </Button>
        ))
      }
    </ButtonContainer>
  </div>
</div>
