---
export interface Props {
    class?: string;
}

const { class: className, ...props } = Astro.props;
---

<div
    class={`bg-white dark:bg-slate-800/50 backdrop-blur-sm border border-slate-200/60 dark:border-slate-700/60 rounded-xl p-6 shadow-md ${
        className ? className : ""
    }`}
    {...props}
>
    <slot />
</div>
