---
import Avatar from "./Avatar.astro";
import HeaderLink from "./HeaderLink.astro";
---

<header class="flex items-center mb-24">
    <a href="/" class="flex-grow">
        <Avatar className="w-32" />
    </a>

    <nav class="flex gap-6">
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/cv">CV</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
    </nav>
</header>
