---
import Avatar from "./Avatar.astro";
import HeaderLink from "./HeaderLink.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="flex items-center mb-24">
  <div class="flex-grow">
    <a href="/"><Avatar className="w-32" /></a>
  </div>

  <nav class="flex gap-6">
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="/cv">CV</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <ThemeToggle />
  </nav>
</header>
