---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = Astro.url.pathname.split("/")[1] === href?.toString().split("/")[1];
---

<a
    href={href}
    class={`
        font-bold uppercase text-slate-700 dark:text-slate-300
        hover:text-slate-900 dark:hover:text-slate-100
        ${isActive ? "underline underline-offset-8 decoration-2" : ""}
    `}
    {...props}
>
    <slot />
</a>
