---
interface Props {
    href?: string;
    selected?: boolean;
}

const { href, selected } = Astro.props;

const style = `
    inline-block 
    text-sm uppercase font-bold whitespace-nowrap
    py-px px-3 rounded-full
    border border-slate-300
    ${selected ? "text-black" : "text-slate-500"}
    ${href ? "hover:text-slate-900/80" : ""}
`;
---

{
    href ? (
        <a href={href} class={style}>
            <slot />
        </a>
    ) : (
        <span class={style}>
            <slot />
        </span>
    )
}
